<!DOCTYPE html>
<html>
    <head>
        <title>Ascii!</title>
    </head>

    <style type="text/css">

    body {
    	font-family: sans-serif;
    	width: 800px;
    	margin: 0 auto;
    	padding: 10px;
    }

    .error{
    	color:red;
    }

    label {
    	display: block;
    	font-size: 20px;
    }


    input[type=text]{
    	width: 400px;
    	font-size: 20px;
    	padding: 2px;
    }
    




    </style>





    <body>
    	<h2>//ascii//</h2>

    	<form method="post">
    		<label>
    			<div>title</div>
    			<input type="text" name="title" value={{title}}>
    		</label>
    		<label>
    			<div>art</div>
    			<textarea name="art" value={{art}}></textarea>
    		</label>
    		<br>
    		<div class="error">{{error}}</div>
    		<input type="submit">
    	</form>

    	<hr>
    	{% for art in arts %}
    		<div class="art">
    			<div class="art-title">{{art.title}}</div>
    			<pre class="art-body">{{art.art}}</pre>
    		</div>
    	{% endfor %}
    </body>
</html>